@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
}

.grain {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.15' filter='url(%23a)'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 400px;
}

*:focus-visible {
  outline: none;
}

a,
button {
  cursor: default;
}
