services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: maille
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    tmpfs:
      - /tmp

volumes:
  postgres_data:
